.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    font: normal 14px/1.3 sans-serif;
    color: white;
    background: hsla(175, 75%, 40%, 0.95);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
